<!DOCTYPE html>

<html>

<head>
    <title>about</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
    <body>
        <div class="main-content">
    {{>header}}     
    <img class="protrait" src="/img/amit.jpg">
    </div>
    {{>footer}}
    </body>


</html>