<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
    <body>
        <div class="main-content">
    {{>header}}
    <style>
        body {
            background-image: url('img/58343.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>     
    <p>This site is created by Amit.It uses mapbox.com and weatherstack.com!</p>
    {{!-- <img class="protrait" src="/img/amit.jpg"> --}}
    </div>
    {{>footer}}
    </body>


</html>