<!DOCTYPE html>

<html>

<head>
    <title>help</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
    <body>
        <style>
        body {
            background-image: url('img/58343.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>  
        <div class="main-content">
            {{>header}}
            <p>For any complaints or suggestions mail at sharmamit510@gmail.com</p>
            {{!-- <img class="protrait" src="/img/download(1).jfif"> --}}
        </div>
        
         
        {{>footer}}
    </body>


</html>